body,html{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.button{
  border:0;
  color: red;
  padding:10px 25px;
  font-weight:bold;
  margin-top:25px;
  cursor: pointer;
}

.button:hover{
  background-color: red;
  color: white;
}

.clock{
  border-radius: 100%;
  /* background-color: #ccc; */
  width:400px;
  height:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-image: url('https://icon2.cleanpng.com/20180217/rdw/kisspng-social-media-marketing-time-management-clock-clock-without-hands-5a87ba8f3374d3.4807223315188445592108.jpg'); */
  background-position: center;
  background-size: cover;
}

.clock::before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 100%;
  background-color: #000; 
}

.clock::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  background-color: #fff; 
}

.clock .pointer-hour{
  position: absolute;
  background-color: #000;
  width: 140px;
  height: 8px;
  left: 200px;
  transform-origin: left;
  animation: spinFromTop 43200s infinite linear;
  border-radius: 20px;
}

.clock .pointer-minutes{
  position: absolute;
  background-color: #000;
  left: 200px;
  width: 165px;
  height: 8px;  
  transform-origin: left;
  animation: spinFromTop 3600s infinite linear;
  border-radius: 20px;
}

.clock .pointer-seconds{
  position: absolute;
  background-color: #000;
  left: 200px;
  width: 165px;
  height: 3px;  
  transform-origin: left;
  animation: spinFromTop 60s infinite linear;
  border-radius: 20px;
}

/* Animations */

@keyframes spinFromTop {
  from {transform:rotateZ(0deg);}
  to {transform:rotateZ(360deg);}
}